.size_small {
    width: 20px;
    height: 20px;
}

.size_medium {
    width: 30px;
    height: 30px;
}

.size_large {
    width: 40px;
    height: 40px;
}

.color_primary {
    color: var(--third-color);
}

.link_primary:hover {
    color: var(--fourth-color);
}

.color_secondary {
    color: var(--first-color);
}

.link_secondary:hover {
    color: var(--second-color);
}