.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--first-color);
    opacity: 0.9;
}

.logo {
    font-size: 25px;
    color: var(--second-color);
}

.logo,
.menu_link {
    font-weight: bold;
}

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.burger {
    display: none;
    cursor: pointer;
}

.menu_link {
    font-size: 17px;
    color: var(--third-color);
}

.menu_link:hover {
    color: var(--second-color);
}

@media only screen and (max-width: 900px) {
    .menu {
        display: none;
        position: absolute;
        top: 70px;
        right: 0px;
        flex-direction: column;
        padding: 20px 50px 50px;
        background-color: var(--first-color);
        opacity: 1;
    }
    .burger {
        display: initial;
    }
}
