.header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: var(--first-color);
    opacity: 0.9;
}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: var(--second-color);
}
